/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

/* Tihs overrides default browser settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Styles */

header {
    background-color: #808080;
    position: fixed;
    box-shadow: 0 2px 2px #000000;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Glamapaws Logo */
header img {
    width: 40%;
    height: 70%;
    margin: 0 0 0 10px;
    padding: 5px 0;
}

/* Navigation Bar Styles */
nav {
    position: absolute;
    background-color: #808080;
    width: 100%;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav
    {display: block;}

header li {
    padding: 0 0 5px 0;
}

header li a {
    color: #ffffff;
    padding: 0 10px;
    font-family: 'Red Hat Display', 'sans-serif';
            }

#nav-toggle {
        display: none;
            }

.nav-toggle-label {
    padding: 10px 10px 0 0;
    font-size: xx-large;
    color: #000000;
}

/* Main Content Styles */

main {
    margin-top: 91px;
    font-family: 'quicksand', 'sans-serif';
    background-color: #ffe5ec;
    flex: 1 0 auto;
}
/* Footer Content Styles */

footer {
    font-family: 'red hat display', 'sans-serif';
    background-color: #808080;
} 